@page
@model ChristmasBasketGift.Pages.GiftsModel
@{
}

<div class="text-center">
    <div class="mainText1">
        <h1 class="display-4 text-capitalize text-black"> Our Great Sason </h1>
        <h4> Chose one from our great baskets or create it </h4> 
      
        <p class="smallText"> <i><b> CHRISTMAS ISN'N A SEASON. IT'S A FEELING </b></i> </p>
        <p class="smallText"> <b>- EDNA FERBER </b> </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-1">
                <div class="w-100 row sanDiv">
                    <div class="col-4">
                        <img src="~/Image/pako1.jpg" class="img"/>

                    </div>
            
                    <div class="col-8 align-items-center">
                  
                        <div class="align-middle  sanText">

                            <h3 style="text-align:center"> Create Your Own Basket Gift</h3>
                            <br/><br/>
                            <a class="btn btn-primary" style="float:center" asp-area="" asp-page="Form/Custom"> Click Here</a>
                        </div>
                    </div>
                </div>
            </div>

            @foreach(var Gift in Model.fakeDbGift)
            {
                var imagePath = "~/Image/img/" + (Gift.ImageTitle + ".webp");
                <div class="col-4 mb-5 sanDiv">
                    
                <img src="@imagePath" class="w-100" asp-append-version="true">
                <br/><br/>
                <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Checkout"  asp-route-ImageTitle="@Gift.ImageTitle" asp-route-GiftPrice="@Gift.FinalPrice"> Get this Basket</a>
           <br/><br/>
            </div>
            
            }

</div>
    </div>

</div>