

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="mainText sanDiv1">

<div class="text-center">
    <h1 class="display-4 mt-0 text-capitalize text-white sanText ">Welcome to Christmas Gifts Page</h1>

    <h4 class="text-white"> Find the perfect gift for you or <i><b> CREATE ONE  </b></i> </h4> <br/>
    
    <img  class="mainImage mt-4 float-left" src="~/Image/pako1.jpg" />
   
    <a class="btn btn-primary sanText" asp-area="" asp-page="Gifts"> GO TO THE GIFT'S PAGE</a>
          
</div>
</div>
